.header-container {
    display: table;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 9.7rem;
    width: 100%;
    padding-top: 1rem;
    background-color: aliceblue;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border: 1px inset #e4e7ea;
    border-top-style: inset;
  }
  
  .detail-container {
    display: inline-block; 
    *display: inline; 
    zoom: 1; 
    vertical-align: top; 
    font-size: 12px;
    overflow: auto;
    overflow-x: hidden;
    background-color: white;
    height: 50rem;
    width: 100%;
    border-style: ridge;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  .button-login {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
  } 

  // .button-submit {
  //   background-color: #4CAF50;
  //   border: none;
  //   color: white;
  //   padding: 0.5rem 1rem;
  //   text-align: center;
  //   text-decoration: none;
  //   display: inline-block;
  //   font-size: 1rem;
  //   margin: 0.5rem 0.5rem;
  //   cursor: pointer;
  //   border-radius: 0.5rem;
  // }
  .button-submit {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
  
    &:disabled {
      background-color: #cccccc;
      color: #666666;
      cursor: not-allowed;
    }
  
    &:not(:disabled) {
      background-color: #4caf50;
      color: white;
      cursor: pointer;
  
      &:hover {
        background-color: #45a049;
      }
    }
  }

  .button-cancel {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
  }

  $base-QB-background: #ff0000;
  $base-RB-background: #00ff00;
  $base-WR-background: #0000ff;
  $base-TE-background: #ffff00;
  $base-K-background: #ff00ff;
  $base-DEF-background: #FFFAFA;

  /* Define a base color class */
.base-QB-background-color {
  background-color: $base-QB-background; /* Default text color */
}
.base-RB-background-color {
  background-color: $base-RB-background; /* Default text color */
}
.base-WR-background-color {
  background-color: $base-WR-background; /* Default text color */
}
.base-TE-background-color {
  background-color: $base-TE-background; /* Default text color */
}
.base-K-background-color {
  background-color: $base-K-background; /* Default text color */
}
.base-DEF-background-color {
  background-color: $base-DEF-background; /* Default text color */
}
/* Define a base background color class */
.base-background {
  background-color: #fff; /* Default background color */
}

/* Additional styles for consistency */
.base-border {
  border: 1px solid #ccc; /* Default border color */
}

.base-shadow {
  box-shadow: 2px 2px 5px #aaa; /* Default box shadow color */
}

/* Usage example */
// .my-element {
//   /* Apply the base color, background color, border, and shadow */
//   /* You can choose to use one or more of these classes based on your needs */
//   @extend .base-color;
//   @extend .base-background;
//   @extend .base-border;
//   @extend .base-shadow;
// }

  