// @import '../../node_modules/react-tabs/style/react-tabs.less';
// @import '../../path/to/node_modules/react-tabs/style/react-tabs.less';

.tab_Container_draftInfo {
  margin-top: .2rem;
  width:100%; 
  // padding: .1rem;
  padding-top: .5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.panel_draftInfo {
  display: inline-block; 
  *display: inline; 
  zoom: 1; 
  vertical-align: top; 
  font-size: 12px;
  overflow: auto;
  // overflow-x: hidden;
  // background-color: white;
  // height: 800px;
  // width: 100%;
  border-style: ridge;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Tab Container */
.Tabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  background: white;
  margin: 2.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #e8f0f2;
  border-radius: 1rem;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  width: 90%;
  margin: 0 auto .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #DCDCDC;
  border-radius: 1rem;
  padding-left: 0pxz;
  margin-top: .6rem;
}

.react-tabs__tab {
  width: 100%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

.react-tabs__tab--selected {
  background: #308efe;
  color: #ffff;
  font-weight: 800;
  font-size: larger;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:hover {
  background: #F0F8FF;
  border-radius: 1rem;
}

.react-tabs__tab:first-child {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.react-tabs__tab:last-child {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  font-size: 1.25rem;
  text-align: center;
}

// .list-draftPicks {
//   display: inline-block; 
//   *display: inline; 
//   zoom: 1; 
//   vertical-align: top; 
//   font-size: 15px;
//   overflow: auto;
//   overflow-x: hidden;
//   background-color: white;
//   height: 800px;
//   width: 100%;
//   border-style: ridge;
// }