// @import '../../node_modules/react-tabs/style/react-tabs.less';
// @import '../../path/to/node_modules/react-tabs/style/react-tabs.less';

.tab_Container_draftInfo {
  width: 100%;
  background-color: whitesmoke;
  padding-top: 0.1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top-style: solid;
}

.panel_draftInfo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
  overflow: auto;
  border-style: ridge;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* Tab Container */
.Tabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  background: white;
  padding: 2rem 1rem;
  color: #e8f0f2;
  border-radius: 1rem;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
  // position: relative; /* Added if overlay is needed */
}

.react-tabs__tab-list {
  width: 90%;
  margin: 0 auto 0.5rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border: 1px solid #dcdcdc;
  border-radius: 1rem;
  padding-left: 0pxz;
  margin-top: 1.7rem;
  font-size: medium;
  background-color: white;
  height: 2.5rem;
  align-content: center;
}

.react-tabs__tab,
.react-tabs__tab--selected {
  width: 100%;
  padding: 0.8rem;
  // list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  // font-size: medium;
  // height: 2.85rem;
}

.react-tabs__tab--selected {
  background: #308efe;
  color: #ffff;
  // font-size: 1rem;
  // font-weight: 800;
  // font-size: large;
  // height: 2.5rem;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:hover {
  background: #f0f8ff;
  border-radius: 1rem;
}

.react-tabs__tab:first-child {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.react-tabs__tab:last-child {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  font-size: 1.25rem;
  text-align: center;
}

//  Position Colors
.background-color-qb {
  background-color: #ff0000; /* Red for QB */
  // background-color: qb-background;
}

.background-color-rb {
  background-color: #0000ff; /* Green for RB */
  // background-color: rb-background;
}

.background-color-wr {
  background-color: #f4a460; /* Blue for WR */
  // background-color: wr-background;
}

.background-color-te {
  background-color: #2e8b57; /* Yellow for TE */
  // background-color: te-background;
}

.background-color-k {
  background-color: #708090; /* Cyan for K */
  // background-color: k-background;
}

.background-color-def {
  background-color: #6a5acd; /* Magenta for DEF */
  // background-color: def-background;
}
