.player-filter-content {
  padding: 10px;
  align-items: center;
  text-align: center;
}

.left-filter, .middle-filter, .right-filter {
  display: inline-block; 
  *display: inline; 
  zoom: 1; 
  vertical-align: bottom; 
  font-size: 12px;
}

.search-filter {
  height: 40px;
  width: 100%;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.display-filter {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: black;
}

.left-filter {
  width: 33%; 
  background: white; 
  padding-right: 8px;
}

.middle-filter {
  width: 33%; 
  background: white;
}

.right-filter {
  width: 33%; 
  background: white;
  padding-left: 8px;
}