.draft-selection-card__title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
  display: flex; /* Add flex container */
  align-items: center; /* Center items vertically */

  .draft-selection-card__image {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    object-fit: cover;
    margin-right: 0.1rem; /* Add margin for spacing */
  }

  .draft-selection-card__player-info {
    flex: 1; /* Take up remaining space */
  }
  .draft-selection-card__name {
    font-size: larger;
    margin-bottom: 8px;
  }

  .draft-selection-card__team {
    font-size: medium;
  }

  .draft-selection-card__rankings {
    font-size: medium;
  }

  .draft-selection-card__rankings-table .draft-selection-card__rankings-header {
    width: 3.5rem;
    text-align: center;
    font-size: small;
  }
  .draft-selection-card__player-position {
    display: flex-end;
    flex-flow: row-reverse;
    text-align: right;
    padding-right: 1rem;
    font-size: large;
    font-weight: 800;
  }
  .draft-selection-card__rankings-value {
    text-align: center;
    font-size: smaller;
    color: #708090;
  }
}
