.draft-player-info-card__title {
  display: flex;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
  display: flex; /* Add flex container */
  align-items: flex-start; /* Center items vertically */

  .draft-player-info-card__image {
    width: 75px; /* Adjust the width as needed */
    height: 75px; /* Adjust the height as needed */
    object-fit: cover;
    margin-right: 0.1rem; /* Add margin for spacing */
  }

  .draft-player-info-card__player-info {
    flex: 1; /* Take up remaining space */
  }

  .draft-player-info-card__name {
    display: flex; /* Use flex to align items inline */
    align-items: center; /* Center items vertically */

    margin-top: 1rem;
    font-size: larger;
  }

  .draft-player-info-card__team {
    font-size: medium;
  }

  .draft-player-info-card__player-position {
    margin-left: 0.5rem; /* Add some space between name and position */
    font-size: large;
    font-weight: 800;
  }

  .draft-player-info-card__player-ranking-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    margin-right: 2rem;
    padding: 0 1rem;
  }

  .draft-player-info-card__player-ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 800;
    border: #dcdcdc 1px solid;
    border-radius: 0.5rem;
  }

  .draft-player-info-card__detail_container {
    // overflow: auto;
    // height: 20rem;
    // padding: 1rem;
    // background-color: aqua;

    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 12px;
    overflow: auto;
    overflow-x: hidden;
    background-color: white;
    height: 50rem;
    width: 100%;
    border-style: ridge;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

.playerDepthCharItem {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }

  .playerDepthCharItem__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .playerDepthCharItem__playerName {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
  }
}
// SCSS for fanTeam news item Title, date, and description

.playerNewsItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
 
  &:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }

  .playerNewsItem__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .playerNewsItem__playerName {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
  }

  .playerNewsItem__date {
    font-size: 0.8rem;
    font-weight: lighter;
    color: #000;
  }

  .playerNewsItem__description {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 0.5rem;
  }
}
