.player-select-card {
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    border-style: ridge;
    margin-bottom: 3px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-size: small;
  }