.sidebar___btn {
  text-align: center;
  margin: auto;
  width: 60%;
  // border: 3px solid #2b5880;
  padding: 10px;
}

/* Base alert styling */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Alert Danger */
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Alert Info */
.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
